body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#searchBar {}

#addButton {
    width: 60px;
    padding: 5px;
}

#removeButton {
    width: 70px;
    padding: 5px;
}

#removeAllButton {
    width: 100px;
    padding: 5px;
}

#userInput {
    width: 200px;
    border-width: 1px;
    padding: 10px 20px;

}

table {

    width: 100%;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;

}

td,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;


}